In [9]:
import sqlite3

In [10]:
conn = sqlite3.connect('empresa.db')
cursor = conn.cursor()

In [3]:
cursor.execute('''CREATE TABLE IF NOT EXISTS Funcionarios (
                    Codigo INTEGER PRIMARY KEY,
                    PrimeiroNome TEXT,
                    SegundoNome TEXT,
                    UltimoNome TEXT,
                    DataNasci DATE,
                    CPF TEXT,
                    RG TEXT,
                    Endereço TEXT,
                    CEP TEXT,
                    Cidade TEXT,
                    Fone TEXT,
                    CodigoDepartamento INTEGER,
                    Funcao TEXT,
                    Salario REAL
                )''')

In [4]:
cursor.execute('''CREATE TABLE IF NOT EXISTS Departamentos (
                    Codigo INTEGER PRIMARY KEY,
                    Nome TEXT,
                    Localização TEXT,
                    CodigoFuncionarioGerente INTEGER
                )''')

In [5]:
funcionarios_data = [
    (1, 'João', 'Silva', 'Santos', '1990-05-15', '123.456.789-10', '1234567', 'Rua A, 123', '12345-678', 'Cidade A', '(00) 1234-5678', 1, 'Analista', 5000.00),
    (2, 'Maria', 'Souza', 'Oliveira', '1995-10-20', '987.654.321-00', '7654321', 'Rua B, 456', '54321-098', 'Cidade B', '(99) 9876-5432', 2, 'Gerente', 8000.00)
]
cursor.executemany('''INSERT INTO Funcionarios (Codigo, PrimeiroNome, SegundoNome, UltimoNome, DataNasci, CPF, RG, Endereço, CEP, Cidade, Fone, CodigoDepartamento, Funcao, Salario)
                      VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''', funcionarios_data)

In [6]:
departamentos_data = [
    (1, 'TI', 'Andar 2', 2),
    (2, 'Recursos Humanos', 'Andar 3', 1)
]
cursor.executemany('''INSERT INTO Departamentos (Codigo, Nome, Localização, CodigoFuncionarioGerente)
                      VALUES (?, ?, ?, ?)''', departamentos_data)

In [11]:
conn.commit()

### RESPOSTA A:


sql = '''
SELECT PrimeiroNome, UltimoNome
FROM Funcionarios
ORDER BY UltimoNome;
'''

cursor.execute(sql)

print(cursor.fetchall())

### RESPOSTA B:

In [13]:
sql = '''
SELECT *
FROM Funcionarios
ORDER BY Cidade;
'''

cursor.execute(sql)

print(cursor.fetchall())

[(1, 'João', 'Silva', 'Santos', '1990-05-15', '123.456.789-10', '1234567', 'Rua A, 123', '12345-678', 'Cidade A', '(00) 1234-5678', 1, 'Analista', 5000.0), (2, 'Maria', 'Souza', 'Oliveira', '1995-10-20', '987.654.321-00', '7654321', 'Rua B, 456', '54321-098', 'Cidade B', '(99) 9876-5432', 2, 'Gerente', 8000.0)]

### RESPOSTA C:

In [14]:
sql = '''
SELECT *
FROM Funcionarios
WHERE Salario > 1000.00
ORDER BY PrimeiroNome, UltimoNome;
'''

cursor.execute(sql)

print(cursor.fetchall())

[(1, 'João', 'Silva', 'Santos', '1990-05-15', '123.456.789-10', '1234567', 'Rua A, 123', '12345-678', 'Cidade A', '(00) 1234-5678', 1, 'Analista', 5000.0), (2, 'Maria', 'Souza', 'Oliveira', '1995-10-20', '987.654.321-00', '7654321', 'Rua B, 456', '54321-098', 'Cidade B', '(99) 9876-5432', 2, 'Gerente', 8000.0)]

### RESPOSTA D:

In [15]:
sql = '''
SELECT DataNasci, PrimeiroNome
FROM Funcionarios
ORDER BY DataNasci DESC;
'''

cursor.execute(sql)

print(cursor.fetchall())

[('1995-10-20', 'Maria'), ('1990-05-15', 'João')]

### RESPOSTA E:

In [16]:
sql = '''
SELECT SUM(Salario)
FROM Funcionarios;
'''

cursor.execute(sql)

print(cursor.fetchone()[0])

13000.0

### RESPOSTA F:

In [17]:
sql = '''
SELECT f.PrimeiroNome, f.UltimoNome, d.Nome, f.Funcao
FROM Funcionarios AS f
INNER JOIN Departamentos AS d ON f.CodigoDepartamento = d.Codigo;
'''

cursor.execute(sql)

print(cursor.fetchall())

[('João', 'Santos', 'TI', 'Analista'), ('Maria', 'Oliveira', 'Recursos Humanos', 'Gerente')]

### REPOSTA G:

In [18]:
sql = '''
SELECT COUNT(*)
FROM Funcionarios;
'''

cursor.execute(sql)

print(cursor.fetchone()[0])

2

### RESPOSTA H

In [19]:
sql = '''
SELECT d.Nome AS NomeDepartamento, f.PrimeiroNome, f.UltimoNome
FROM Funcionarios AS f
INNER JOIN Departamentos AS d ON f.CodigoDepartamento = d.Codigo
ORDER BY d.Nome, f.PrimeiroNome, f.UltimoNome;
'''

cursor.execute(sql)

print(cursor.fetchall())

[('Recursos Humanos', 'Maria', 'Oliveira'), ('TI', 'João', 'Santos')]